/* Cahier des charges :
Liseré à gauche : 
		- balise <aside> placée en ligne dans le conteneur <body>.

Mon expérience / Mes compétences / Ma formation placés en ligne de gauche à droite : 
		- chaque partie placée dans une <section> et placées en ligne dans le conteneur div#sections.

Largeurs relatives avec le contenu qui prend toute la largeur en permanence : 
		- <aside> prend 10% de la largeur de <body> avec un minimum de 65px pour respecter les arrondis, section#main qui contient le reste de la page s'adapte pour remplir la largeur,
		- les 3 <section> prennent chacun 33% de div#sections (et non de l'écran) afin qu'ils conservent la même largeur (ok, il y a 1% qui traîne). 

Utilisation des balises sémantiques :
		- ce point est très subjectif, j'ai essayé d'utiliser au mieux les balises en plaçant le liseré de côté dans un <aside>, l'en-tête dans un <header>, les différentes sections dans des <section>.
*/

@font-face /* fonts trouvés sur fontsquirrel, le générateur n'a pas fourni d'autres formats */
{
	font-family: 'bilbo_swash';
    src: url('ressources/fonts/BilboSwashCaps-Regular.otf') format('otf'),
    url('ressources/fonts/bilboswashcaps-regular-webfont.woff2') format('woff2'),
    url('ressources/fonts/bilboswashcaps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p, ul
{
	color: #CCC;
}

h1, h1+p
{
	color: #666;
	text-align: center;
	margin: 20px;
}

h1
{
	font-family: 'bilbo_swash', serif;
	text-transform: uppercase;
	font-size: 48px;
}

h1+p
{
	font-family: serif;
	font-size: 2em;
	font-weight: bold;
}

body
{
	display: flex;
	flex-direction: row;
	background-color: #000;		/*défini la couleur de fond en noir au cas où l'image ne se charge pas
								car le texte s'affiche de gris à gris clair*/
	background-image: url("ressources/pictures/gandalf-vs-balrog.png");
}

aside
{
	width: 10%;
	min-width: 65px;
	height: 920px;
	overflow: hidden;
	border: solid #000 1px;
	border-radius: 40px 25px;
}

#main
{
	flex: 1;
}

header
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

header a
{
	margin: 0;
	margin-right: 20px;
	padding: 0;
}

header #titles
{
	flex: 1;
}

#sections
{
	display: flex;
	flex-direction: row;
}

#sections section
{
	width: 33%;
}

.to_indent
{
	padding-left: 40px;
}

h2
{
	color: #999;
	padding: 5px;
	margin: 20px;
	border: solid rgba(120, 120, 120, 0.6) 3px;
	box-shadow: 7px 7px 3px rgba(90, 90, 90, 0.4);
}

ins
{
	font-style: italic;
	font-size: 0.8em;
}
