/* Cahier des charges :
Version Desktop :
		- idem activité 3.
Version Mobile, résolution d'écran jusqu'à 1024px de large:
		* utilisation de la Media Query @media all and (max-device-width: 1024px),
		* testé sur pc double écran d'abord en remplaçant 1024px par ma résolution habituelle,
		* puis dans un deuxième temps en baissant la résolution d'un écran à 1024x768 (ce qui revient au même sauf qu'on ne touche plus au fichier),
		* penser à actualiser la page à chaque changement (d'écran, de résolution, ou de modification dans le fichier CSS),
		- faire disparaître le liseré :
				* display: none dans <aside>,
		- afficher les sections expérience, compétences et formation verticalement au lieu d'horizontalement :
				* flex-direction: column dans #sections (au lieu de row),
				* width: 100% dans #sections section (au lieu de 33%).

BONUS : (oui c'est un bonus et non ce n'est pas ce qui est demandé dans l'énoncé)
Version fenêtrée, largeur de navigateur jusqu'à 1024px de large:
	* utilisation de la Media Query @media all and (device-width: 1024px),
	* test simple en réduisant la largeur de la fenêtre du navigateur,
	* le code est strictement identique à celui pour la version Mobile, il suffit donc de placer les deux media queries ensemble de la façon suivante :
	- @media all and (max-device-width: 1024px), all and (device-width: 1024px)
*/

@font-face /* fonts trouvés sur fontsquirrel, le générateur n'a pas fourni d'autres formats */
{
	font-family: 'bilbo_swash';
    src: url('ressources/fonts/BilboSwashCaps-Regular.otf') format('otf'),
    url('ressources/fonts/bilboswashcaps-regular-webfont.woff2') format('woff2'),
    url('ressources/fonts/bilboswashcaps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p, ul
{
	color: #CCC;
}

h1, h1+p
{
	color: #666;
	text-align: center;
	margin: 20px;
}

h1
{
	font-family: 'bilbo_swash', serif;
	text-transform: uppercase;
	font-size: 48px;
}

h1+p
{
	font-family: serif;
	font-size: 2em;
	font-weight: bold;
}

body
{
	display: flex;
	flex-direction: row;
	background-color: #000;		/*défini la couleur de fond en noir au cas où l'image ne se charge pas
								car le texte s'affiche de gris à gris clair*/
	background-image: url("ressources/pictures/gandalf-vs-balrog.png");
}

aside
{
	width: 10%;
	min-width: 65px;
	height: 920px;
	overflow: hidden;
	border: solid #000 1px;
	border-radius: 40px 25px;
}

#main
{
	flex: 1;
}

header
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

header a
{
	margin: 0;
	margin-right: 20px;
	padding: 0;
}

header #titles
{
	flex: 1;
}

#sections
{
	display: flex;
	flex-direction: row;
}

#sections section
{
	width: 33%;
}

.to_indent
{
	padding-left: 40px;
}

h2
{
	color: #999;
	padding: 5px;
	margin: 20px;
	border: solid rgba(120, 120, 120, 0.6) 3px;
	box-shadow: 7px 7px 3px rgba(90, 90, 90, 0.4);
}

ins
{
	font-style: italic;
	font-size: 0.8em;
}

/* pour tout écran dont la résolution en largeur est inférieure ou égale à 1024 pixels 
	OU pour toute fenêtre dont la largeur est infèrieure ou égale à 1024 pixels*/
@media all and (max-device-width: 1024px), all and (max-width: 1024px)
{
	aside
	{
		display: none;
	}

	#sections
	{
		flex-direction: column;
	}

	#sections section
	{
		width: 100%;
	}
}